<div class="unicornInvoiceManager" ng-controller="InvoiceManager.Editors.InvoiceCalculation.Controller">
    <div class="sidebar-enabled sidebar-end needs-validation">
        <div class="container">
            <div class="row">
                <!-- Content-->
                <div class="col-lg-4 sidebar bg-secondary pt-5 pb-md-2">
                    <div class="mb-3">
                        <label class="control-label  form-label" for="ch-order-notes">Notes</label>
                        <textarea class="form-control" id="ch-order-notes" rows="3" placeholder="Notes about your invoice items." name="newInvoiceItem.note"
                                  ng-change="change()"
                                  ng-model="newInvoiceItem.note"
                                  val-server="value"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="control-label  control-label  form-label" for="ch-order-notes">Description</label>
                        <textarea class="form-control" id="ch-order-notes" rows="3" placeholder="Invoice item description." name="newInvoiceItem.description"
                                  ng-change="change()"
                                  ng-model="newInvoiceItem.description"
                                  val-server="value"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="control-label  form-label" for="ch-fn">Quanity<sup class="text-danger ms-1" placeholder="Quanity" >*</sup></label>
                        <input class="form-control" type="number" id="ch-fn" name="newInvoiceItem.quantity"
                               ng-change="change()"
                               ng-model="newInvoiceItem.quantity"
                               val-server="value"
                               min="1">
                    </div>
                    <div class="mb-3">
                        <label class="control-label  form-label" for="ch-ln">Unit Price<sup class="text-danger ms-1" placeholder="Unit price">*</sup></label>
                        <input class="form-control" type="number" id="ch-ln" name="newInvoiceItem.unitprice"
                               ng-change="change()"
                               ng-model="newInvoiceItem.unitprice"
                               val-server="value"
                               min="1">
                    </div>

                    <div class="umb-cropsizes__controls">
                        <button type="button" class="btn btn-info add" ng-hide="editMode" ng-click="add($event)"><localize key="general_add">Add</localize></button>
                        <button type="button" class="btn btn-info add" ng-show="editMode" ng-click="add($event)"><localize key="general_update">Update</localize></button>
                        <button type="button" class="btn btn-link" ng-show="editMode" ng-click="cancel($event)"><localize key="general_cancel">Cancel</localize></button>
                    </div>
                </div>
                <!-- Sidebar-->
                <div class="col-lg-8 content py-4">
                    <div class="ps-lg-4 mb-3 pb-5">
                        <h2 class="h4 pb-3">Invoice Items</h2>
                        <div ui-sortable="sortableOptions" class="umb-cropsizes__sortable" ng-model="model.value">
                            <div class="d-flex align-items-center mb-4" ng-repeat="item in model.value">
                                <umb-icon icon="icon-navigation" class="icon handle"></umb-icon>
                                <div class="w-100 ps-2 ms-1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="me-3">
                                                <h4 class="nav-heading fs-md mb-1">{{item.note}}</h4>
                                                <span>{{item.description}}</span>
                                            <div class="d-flex align-items-center fs-sm">
                                                <span class="me-2">{{item.quantity}}</span>
                                                <span class="me-2">x</span>
                                                <span class="me-2">${{item.unitprice}}</span>
                                                <span class="me-2">=</span>
                                                <span class="me-2">${{item.TaxableAmount.toFixed(2)}}</span>
                                            </div>
                                        </div>
                                        <div class="ps-3 border-start">

                                            <div class="umb-prevalues-multivalues__right">
                                                <button type="button" class="umb-node-preview__action" ng-click="edit(item, $event)"><localize key="general_edit">Edit</localize></button>
                                                <button type="button" class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove(item, $event)"><localize key="general_remove">Remove</localize></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-0 mb-4">
                        <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Subtotal:</span><span class="text-nav">${{TaxableAmount.toFixed(2)}}</span></div>
                        <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">GST(15%):</span><span class="text-nav">${{TotalTaxAmount.toFixed(2)}}</span></div>
                        <div class="d-flex justify-content-between mb-3"><span class="h6 mb-0">Total:</span><span class="h6 mb-0">${{TotalAmount.toFixed(2)}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
