<div class="unicornInvoiceManager" ng-controller="customersController as vm">
        <umb-editor-sub-header>
            <!--<umb-editor-sub-header-content-left>
                <h3>Customers</h3>
            </umb-editor-sub-header-content-left>
            <umb-editor-sub-header-content-center>
                <div class="filters">
                    <select style="margin-right: 10px;" ng-options="item as item.name for item in vm.types track by item.value" ng-model="vm.filters.type" no-dirty-check ng-change="vm.filterUpdated()"></select>
                    <input type="text" ng-model="vm.filters.text" no-dirty-check placeholder="typeToSearch" localize="placeholder" style="max-width: initial; flex: 1; margin-right: 100px;" ng-change="vm.filterUpdated()" />
                </div>
            </umb-editor-sub-header-content-center>
            <umb-editor-sub-header-content-right>
                <umb-button-group ng-repeat="bg in vm.buttonGroups"
                                  button-style="{{bg.buttonStyle}}"
                                  default-button="bg.defaultButton"
                                  sub-buttons="bg.subButtons"
                                  direction="down">
                </umb-button-group>
            </umb-editor-sub-header-content-right>-->

            <umb-editor-sub-header-content-left>
                <umb-button-group ng-repeat="bg in vm.buttonGroups"
                                  button-style="{{bg.buttonStyle}}"
                                  default-button="bg.defaultButton"
                                  sub-buttons="bg.subButtons"
                                  direction="down">
                </umb-button-group>
            </umb-editor-sub-header-content-left>
            <umb-editor-sub-header-content-right>
                <umb-editor-sub-header-section>
                    <umb-mini-search model="vm.filters.text" on-search="vm.filterUpdated()" on-blur="vm.onBlurSearch()">
                    </umb-mini-search>
                </umb-editor-sub-header-section>
            </umb-editor-sub-header-content-right>
        </umb-editor-sub-header>
        

                <div>
                    <div ng-class="{loading: vm.loading}">
                        <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
                        <umb-empty-state ng-if="!vm.loading && vm.customers.length == 0" position="center">
                            <span ng-if="vm.activeFilters == 0">There has not yet been added any customer.</span>
                            <span ng-if="vm.activeFilters > 0">Your search did not match any customer.</span>
                        </umb-empty-state>
                        <table class="table list" ng-if="vm.customers.length > 0">
                            <thead>
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <!--<th>City</th>
                                    <th>State</th>
                                    <th>PostCode</th>-->
                                    <th>Type</th>
                                    <th>GST Number</th>
                                    <th>Created</th>
                                    <th>Updated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in vm.customers">
                                    <!--<td>
                                    <span>{{customer.id}}</span>
                                </td>-->
                                    <td>
                                        <span>{{customer.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{customer.phone}}</span>
                                    </td>
                                    <td>
                                        <span>{{customer.address}}</span>
                                    </td>
                                    <!--<td>
                                        <span>{{customer.city}}</span>
                                    </td>
                                    <td>
                                        <span>{{customer.state}}, {{customer.country}}</span>
                                    </td>
                                    <td>
                                        <span>{{customer.zipcode}}</span>
                                    </td>-->
                                    <td class="col-type">
                                        <span ng-show="customer.customertype==0"><localize key="customers_labelPermanent">Individual</localize></span>
                                        <span ng-show="customer.customertype==1"><localize key="customers_labelTemporary">Company</localize></span>
                                    </td>
                                    <td class="col-type">
                                        <span>{{customer.gstnumber}}</span>
                                    </td>
                                    <td class="col-date">
                                        {{customer.datecreated | date: 'yyyy-MM-dd HH:mm'}}
                                    </td>
                                    <td class="col-date">
                                        {{customer.datemodified | date: 'yyyy-MM-dd HH:mm'}}
                                    </td>
                                    <td class="">
                                        <button type="button" ng-click="vm.editCustomer(customer)" class="btn umb-button__button btn-outline umb-button-- umb-outline"><localize key="customers_edit">Edit</localize></button>
                                        <!--to-->
                                        <button type="button" ng-click="vm.deleteCustomer(customer)" class="btn btn-danger color-white"><localize key="customers_delete">Delete</localize></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4">
                                        <div ng-show="vm.pagination.page > 0 && vm.pagination.total > 0">
                                            {{vm.pagination.text}}
                                        </div>
                                    </th>
                                    <th colspan="6" class="tar">
                                        <div class="pagination" ng-show="vm.pagination.page > 1">
                                            <ul>
                                                <li ng-class="{disabled: vm.pagination.page <= 1}">
                                                    <a href="#" ng-click="vm.prev()" prevent-default="">
                                                        <localize key="general_previous">Previous</localize>
                                                    </a>
                                                </li>
                                                <li ng-repeat="pgn in vm.pagination.pagination" ng-class="{active: pgn.active}">
                                                    <a href="#" ng-click="vm.updateList(pgn.page)" prevent-default="">{{pgn.page}}</a>
                                                </li>
                                                <li ng-class="{disabled: vm.pagination.page >= vm.pagination.pages}" class="">
                                                    <a href="#" ng-click="vm.next()" prevent-default="">
                                                        <localize key="general_next">Next</localize>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
</div>